apiVersion: v1
kind: Service
metadata:
  name: demo-app
spec:
  type: LoadBalancer  # Changed from NodePort
  selector:
    app: demo-app
  ports:
    - port: 8080
      targetPort: 8080
      # Remove nodePort: line - auto-assigned by AWS